service: dev-analytics-affiliation-service
frameworkVersion: '>=1.28.0 <2.0.0'

plugins:
  - serverless-domain-manager

provider:
  name: aws
  runtime: go1.x
  stage: ${opt:stage, 'dev'}   # dev, test, staging, or prod
  region: ${opt:region, 'us-west-2'}
  timeout: 60 # optional, in seconds, default is 6

  environment:
    CORS_ALLOWED_ORIGINS: https://insights.test.platform.linuxfoundation.org,https://lfanalytics.io
    LOG_LEVEL: info
    N_CPUS: ''
    USE_SEARCH_IN_MERGE: ''
    ELASTIC_URL: ${ssm:/da_elastic_endpoint~true}
    ELASTIC_USERNAME: ${ssm:/da_elastic_username~true}
    ELASTIC_PASSWORD: ${ssm:/da_elastic_password~true}
    API_DB_ENDPOINT: host=${ssm:/da_api_db_endpoint~true} user=${ssm:/da_api_db_username~true} password=${ssm:/da_api_db_password~true} dbname=${self:custom.apiDB.${self:provider.stage}} sslmode=require
    SH_DB_ENDPOINT: ${ssm:/da_sh_db_username~true}:${ssm:/da_sh_db_password~true}@tcp(${ssm:/da_sh_db_endpoint~true}:${ssm:/da_sh_db_port~true})/${self:custom.shDB.${self:provider.stage}}?charset=utf8
    AUTH0_DOMAIN: ${ssm:/da_auth0_domain~true}
    AUTH0_CLIENT_ID: ${ssm:/da_auth0_client_id~true}
    AUTH0_USERNAME_CLAIM: ${ssm:/da_auth0_username_claim~true}

custom:
  version: v1
  project: dev-analytics-affiliation
  apiDB:
    prod: dev_analytics
    test: dev_analytics_test
  shDB:
    prod: sortinghat
    test: sortinghat
  legacyApiEndpoint:
    test: https://api.insights.test.platform.linuxfoundation.org
    prod: https://api.lfanalytics.io
    other: https://api.insights.test.platform.linuxfoundation.org
  DAdomain:
    test: insights.test.platform.linuxfoundation.org
    prod: lfanalytics.io
    other: insights.test.platform.linuxfoundation.org
  customDomain:
    domainName: affiliation.${self:custom.DAdomain.${self:provider.stage}, self:custom.DAdomain.other}
    basePath: ""
    stage: ${self:provider.stage}
    createRoute53Record: false

package:
  exclude:
    - ./**
  include:
    - ./bin/**

functions:
  metrics:
    name: dev-analytics-affiliation-service-handler
    handler: bin/dev-analyics-affiliation
    events:
      - http:
          path: /{proxy+}
          method: any
          cors: true
